@media screen and (min-width: 1024px) {
    /* Content */
    /* Nav */

    .top-content nav {
        width: calc(60vw - 179.19px);
        margin: 0 auto;
    }

    .nav-list-flex li {
        flex-basis: calc(100% / 6 - 50px / 6);
    }

    /* Content */
    /* Main content */

    .album {
        flex-basis: calc(100% / 6 - 50px / 6);
    }

    /* Footer */
    /* Descrition */

    .footer-description , .footer-secondary-control {
        flex-basis: 15%;
    }

    .footer-description {
        justify-content: start;
        margin-left: 20px;
        gap: 0;
    }
    
    .main-control-button {
        justify-content: center;
        gap: 40px;
    }

    .description-title {
        justify-content: flex-start;
        gap: 10px;
    }

    .footer-secondary-control {
        justify-content: end;
        margin-right: 20px;
    }
}