/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
}

img {
    width: 100%;
    display: block;
}


/* Utilities */

.flex-container {
    display: flex;
}

.box {
    border: 1px dashed red;
}


/* Main */

.top-content {
    height: 100%;
    flex-grow: 0;
}

.main-layout {
    flex-direction: column;
}


/* Sidebar */

.sidebar {
    background-color: black;
    flex-basis: 50px;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-top {
    flex-basis: 20%;
}

.sidebar-bottom {
    flex-basis: 20%;
}

/* Sidebar */
/* Sidebar top */

.sidebar-list-flex {
    flex-direction: column;
    gap: 5px;
}


/* Head */

header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
}

/* Content */

.content {
    background-color: lightgray;
    flex-basis: calc(100% - 50px);
    height: 90vh;
    overflow-y: scroll;
}


/* Footer */

.bottom-content {
    background-color: gray;
    height: 100px;
    flex-shrink: 0;
    width: 100%;
}