/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    color: white;
}

img {
    width: 100%;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

header + main {
    height: 15%;
}

nav {
    
    height: 100%;
}

h2 {
    font-size: 1.2;
    padding: 20px 0 15px 0;
}

h3 {
    font-size: 1rem;
    text-align: center;
    padding: 8px 0;
}


/* Utilities */

.flex-container {
    display: flex;
}

.box {
    border: 1px dashed red;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 15px;
}

.container-sm {
    max-width: 1080px;
    margin: 0 auto;
    padding: 8px;
}

/* Main */

.main-layout {
    flex-direction: column;
    height: 100%;
}

.top-content {
    height: calc(100vh - 100px);
    flex-grow: 0;
}

.bottom-content {
    background-color: #282828;
    height: 100px;
    flex-shrink: 0;
    width: 100%;
    gap: 30px;
}


/* Sidebar */

.sidebar {
    background-color: black;
    flex-basis: 50px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    gap: 20px;
}

.sidebar-top {
    flex-basis: 20%;
    flex-direction: column;
    gap: 30px;
}

.sidebar-bottom {
    flex-basis: 10%;
    height: 100%;
}

.sidebar-copy {
    display: none;
    font-size: 0.8rem;
    color: #A3A3A3;
}

.sidebar-playlist {
    display: none;
    overflow-y: auto;
}

/* Sidebar */
/* Sidebar top */

.sidebar-list-flex {
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.sidebar-list-flex img {
    width: 60%;
    margin: 0 auto;
}

#logo-standard {
    display: none;
}

/* Sidebar */
/* Sidebar playlist */

.sidebar-playlist {
    display: none;
}

.sidebar-playlist li {
    padding: 10px 0;
}

.sidebar-playlist h3 {
    text-align: left;
}

.fa-plus {
    background-color: #A3A3A3;
    padding: 8px;
    margin-right: 5px;
    font-size: 1.2rem;
}

.sidebar-text-color {
    color: white;
    font-weight: bold;
}

/* Sidebar */
/* Sidebar bottom */

#sidebar-hr {
    display: none;
}

.sidebar-hr {
    border-bottom: 1px solid gray;
}

/* Header */

header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
}

.sticky-header {
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cta-upgrade {
    text-transform: uppercase;
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 0.8rem;
}


/* Content */

.content {
    background-color: #141922;
    flex-basis: calc(100% - 50px);
    height: 100%;
    overflow-y: scroll;
}

/* Content */
/* Nav */

.nav-list-flex {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-list-flex li {
    text-transform: uppercase;
    color: lightgray;
    list-style-type: none;
    font-size: 0.7rem;
    flex-basis: calc(25% - 30px / 4);
    text-align: center;
}

/* Content */
/* Main content */

.recent-content, .for-you-content, .popular-content {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.album {
    flex-basis: calc(50% - 10px / 2);
}

.copy-album {
    text-align: center;
    padding: 10px;
}

.copy-album section {
    color: lightgray;
    font-size: 0.8rem;
}

h2 + section {
    color: lightgray;
    font-size: 0.8rem;
    padding-bottom: 20px;
}


/* Footer */
/* Main */

.bottom-content {
    justify-content: space-between;
}

.footer-description , .footer-secondary-control {
    flex-basis: 30%;
}

.footer-main-control {
    flex-basis: 40%;
}

/* Footer */
/* Descrition */

.footer-description {
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.description-title {
    flex-basis: 80%;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.footer-img img {
    max-height: 60px;
}

.footer-copy section {
    color: #6B6B6B;
    font-size: 0.8rem;
    font-weight: bolder;
}

.description-cta {
    flex-basis: 20%;
    text-align: center;
}

/* Footer */
/* Main control */

.footer-main-control {
    flex-direction: column;
    justify-content: space-around;
}

/* Main control */
/* Main control button */

.main-control-button {
    justify-content: space-between;
    gap: 10px;
    font-size: 1.2rem;
    align-items: center;
}

.fa-circle-play {
    font-size: 2rem;
}

/* Main control */
/* Main control song lenght */

.main-control-song-lenght {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
    font-weight: bolder;
}

.song-lenght {
    flex-basis: 80%;
    position: relative;
}

.song-lenght-line, .volume-line {
    height: 4px;
    border-bottom: 4px solid gray;
    border-radius: 10px;
}

.song-lenght-line-actual, .actual-volume-line {
    height: 4px;
    border-bottom: 4px solid white;
    border-radius: 10px;
    width: 25%;
    position: absolute;
    top: 0px;
    left: 0;
}

/* Footer */
/* Secondary control */

.footer-secondary-control {
    gap: 10px;
    align-items: center;
}

.footer-secondary-control div:nth-child(4) {
    flex-basis: 50%;
    position: relative;
}